* {font-family: 'Courier New', Courier, monospace;}
header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
h1 {
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 10px;
  text-align: center;
}
body {
  background-color: rgb(17, 32, 32);
  color: white;
}
pre, .print {
  padding: 1rem;
  margin: 0;
  border-radius: 10px;
  white-space: pre-wrap;
}
input {
  padding: .2rem;
  flex: 1;
}
a {
  color: white;
}
a:visited {
  color: rgb(184, 184, 184)
}
button {
  font-size: 1rem;
}
.App {
  display: flex;
  gap: 1rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.349);
}
.field {
  display: flex;
  flex-direction: column;
}
.print-container {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.349);
}
.input-button {
  display: flex;
  gap: 1rem;
}
.found {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  white-space: nowrap;
}